In [3]:
import pandas as pd
import sklearn
PseudoData = pd.read_csv('PseudoData.csv')  #Read in CSV

ModuleNotFoundError: No module named 'sklearn'

In [ ]:
PseudoData

,Student,Grade,GPA,#Honors semesters,#AP semesters,Days Enrolled,Days Present,Att Rate
0,20000000,12,4.000,0,0,169,149.0,88.2
1,20000001,12,3.400,0,0,169,150.0,88.8
2,20000002,12,4.000,0,1,169,128.0,75.7
3,20000003,12,3.750,1,3,169,151.0,89.3
4,20000004,12,3.500,0,4,169,165.5,97.9
5,20000005,11,3.571,0,0,169,160.0,94.7
6,20000006,11,3.231,0,10,169,168.0,99.4
7,20000007,11,4.000,0,0,169,154.0,91.1
8,20000008,11,3.750,0,0,169,162.0,95.9
9,20000009,10,4.000,2,6,169,143.0,84.6
10,20000010,10,3.857,1,2,169,122.0,72.2
11,20000011,10,3.909,0,0,80,75.0,93.8
12,20000012,10,3.417,0,2,169,167.5,99.1
13,20000013,10,4.000,0,2,169,166.0,98.2
14,20000014,10,2.857,0,0,169,152.5,90.2
15,20000015,9,3.929,2,2,169,158.5,93.8
16,20000016,9,3.429,0,2,169,151.0,89.3
17,20000017,9,4.000,4,0,169,161.5,95.6
18,20000018,9,2.786,2,4,169,166.0,98.2
19,20000019,9,3.714,0,0,26,25.0,96.2
20,20000020,9,3.545,0,0,169,159.0,94.1
21,20000021,9,4.000,0,0,169,159.5,94.4